[alias]
  co = checkout
  st = status
  ci = commit -s
  b = branch -v -a
  mb = merge-base
  cp = cherry-pick
  l = log --graph --decorate
  ru = remote update --prune
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[color]
  branch = true
  diff = true
  status = true

[credential "https://git-codecommit.*.amazonaws.com"]
  helper = ""
  helper = !aws codecommit credential-helper $@
  UseHttpPath = true

[credential]
  helper = "store --file ~/.gitcredential"

[diff]
  renames = copies

[user]
  email = zacheryph@gmail.com
  name = Zachery Hostens
  signingkey = 0x37CDFB272575E480
  username = zacheryph

[commit]
  gpgsign = true

[merge]
  log = true

[mergetool]
  keepBackup = true

[push]
  default = current

[core]
  packedGitLimit = 50m
  quotepath = false
  excludesfile = ~/.gitignore
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "hub:"
  pushInsteadOf = "git://github.com/"

[url "https://github.com/"]
  insteadOf = "hub:"

[url "git@gist.github.com:"]
  pushInsteadOf = "https://gist.github.com/"
  pushInsteadOf = "gist:"

[url "https://gist.github.com/"]
  insteadOf = "gist:"

[url "git@gitlab.com:"]
  insteadOf = "lab:"
  pushInsteadOf = "lab:"
  pushInsteadOf = "https://gitlab.com/"

[url "https://git.zro.io/"]
  insteadOf = "zro:"
