[Unit]
Description=dnsmasq
Documentation=http://www.thekelleys.org.uk/dnsmasq/doc.html
After=network.target docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n

ExecStart=/usr/bin/docker run \
  --rm \
  --name %n \
  --cap-add NET_ADMIN \
  --dns 8.8.8.8 \
  --dns 8.8.4.4 \
  --net host \
  --publish 127.0.0.1:53:53/tcp \
  --publish 127.0.0.1:53:53/udp \
  andyshinn/dnsmasq \
    --log-facility=- \
    --server=/zro.io/172.21.50.1 \
    --server=/zro.net/172.21.50.1 \
    --server=/hostens.family/172.21.50.1 \
    --address=/local/127.0.0.1 \
    --address=/docker/127.0.0.1

[Install]
WantedBy=multi-user.target
