[Unit]
Description=dnsmasq
Documentation=http://www.thekelleys.org.uk/dnsmasq/doc.html
After=network.target docker.socket

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/docker rm -f dnsmasq
ExecStart=/usr/bin/docker run \
  --detach \
  --restart always \
  --cap-add NET_ADMIN \
  --dns 8.8.8.8 \
  --dns 8.8.4.4 \
  --net host \
  --publish 127.0.0.1:53:53/tcp \
  --publish 127.0.0.1:53:53/udp \
  --name dnsmasq \
  andyshinn/dnsmasq \
    --log-facility=- \
    --server=/home.zro.net/172.21.7.1 \
    --server=/infra.zro.net/172.21.7.1 \
    --address=/local/127.0.0.1 \
    --address=/docker/127.0.0.1

[Install]
WantedBy=multi-user.target
