[Unit]
Description=nginx-proxy
Documentation=https://github.com/jwilder/nginx-proxy
After=network.target docker.socket

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/docker rm -f nginx-proxy
ExecStart=/usr/bin/docker run \
  --detach \
  --restart always \
  --publish 127.0.0.1:80:80/tcp \
  --volume /var/run/docker.sock:/tmp/docker.sock:ro \
  --name nginx-proxy \
  jwilder/nginx-proxy

[Install]
WantedBy=multi-user.target
